body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../img/bg-bellaflor.jpg) no-repeat;
    background-size: cover;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.loginBox .logoBella {
    display: block;
    margin: 0 auto 30px;    
}

.loginBox .inputBox {
    position: relative;
}

.loginBox .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1.125em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.loginBox .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.loginBox .inputBox input:focus ~ label,
.loginBox .inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #53da24;
    font-size: 1em;
}

.loginBox input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.125em;
    color: #fff;
    background: #53da24;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.loginBox input[type="submit"]:hover {
    background: #3d9b1e;
}

.loginBox .signUp {
    text-decoration: none;
    text-align: center;
    font-size: 1.125em;
    color: #fff;
    display: block;
    width: 88%;
    background: #e84722;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.loginBox .signUp:hover {
    background: #b3371b;
}

.loginBox .recuvePass {
    display: block;
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.loginBox .recuvePass:hover {
    color: #239adf;
}
